body{
    background-color:rgb(230,232,230);
    
 }
 #title{
   text-align: center;
   font-family: sans-serif;
  
   padding: 10px;
   color: rgb(53,53,54);
 }
 #image{
   margin:0 auto;
   max-width:80%;
   height:80%;  
   display: block;
 }
 #img-caption{
   font-family: sans-serif;
   color:rgb(53,53,54);
   text-align: center;
   padding: 10px;
 }
 h3{
   font-family: sans-serif;
   text-align:center;
   padding:20px;
   color:rgb(53,53,54);
 }
 ul{
   padding-left:230px;
   padding-right:230px;
 }
 li{
   padding: 20px;
   font-family: sans-serif; 
   color:rgb(53,53,54);
 }
 b{
   color:rgb(53,53,54);
 }
 a:hover{
   color:red;
 }

 h1::before{
  position: absolute;
  content: "";
  background-color: violet;
  border-radius: 30% 50% 20% 40%;
  opacity: 0.7;
  height: 40rem;
  width: 50rem;
  margin: auto;
  z-index: -1;
  top: 200px;
  left: 100px;
 }

h1::after{
  position: absolute;
  content: "";
  background-color: aqua;
  border-radius: 30% 50% 20% 40%;
  opacity: 0.7;
  height: 20rem;
  width: 20rem;
  margin: auto;
  z-index: -1;
  top: 100px;
  right: 100px;
}